*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

 /* ******nav-bar**** */

.navbar{

    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    background-color: white;
    z-index: 100;
    
}

.nav1{
        width: 50%;
        height: 100px;
        padding-top: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        
      


}
.nav2{
    width: 50%;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    display: flex;
  


}

    /* ********hiro section****** */


 

.containar{

    width: 100%;
    /* margin: 20%; */
    height: 500px;
    background-color: #dee2e6;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.smart1{

    width: 60%;
    height: 400px;
    margin: 20px;
    transform: translateX(+20%);
    padding-top: 90px;

}

.desc{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}



.smart1 button{

    font-size: 20px;
    background-color: black;
    color: white;

}

.smart2{

    width: 40%;
    height: 400px;
    margin: 20px;
    
}


.smart2 img{
    height: 400px;
    width: 50%;
    align-items: center;
    text-justify: auto;

} 

 /* ****shoping section *** */

 .container1{

    max-width: 1320px;
    margin:100px auto;

    
}
.products{
    display: flex;
}

.w-25{
    width: 25%;
    padding: 10px;
}
.card{
    
    position: relative;
}

.products .price{
    color: rgb(0, 200, 255);
}


.smart1 h1{

    font-size: 70px;
    font-family: Arial;
}

.btn{
    width: 75%;
    display: block;
    background-color: #212529;
    padding: 10px 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:75%;
    transition: all 0.5s;
    opacity: 0;
}

.card:hover .btn{
    transform: translateX(-50%);
    top:70%;
    opacity: 1;
}

.product-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.pera{

    
    margin: 60px;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
    color: rgb(19, 19, 24);

}
.pera h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.name{

    display: flex;
    align-items: center;
    justify-content: center;
}

.con{

    width: 60%;
    height: 120px;
    border: 2px solid goldenrod;
    margin-top: 40px;
    display: flex;
    text-align: center;
    margin: auto;
    background-color: black;  
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.cont{

    width: 30%;
    align-items: center;
    justify-content: center;
    
    
    

}
.conte{

    width: 30%;
    align-items: center;
    justify-content: center;
    width: 200px;
    
}


    






